.account-container {
    background-color: #014f86;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem 0;
}

.account-box {
    background-color: #012a4a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,3);
    max-width: 500px;
    width: 100%;
    opacity: 0.9;
}

h2, a {
    color: white;
}

label {
    color: white;
}

.form-label {
    color: #e8eef5;
    font-weight: 500;
}

.form-control {
    background-color: #e9edf2;
    border: none;
    border-radius: 4px;
    padding: 10px 14px;
}

    .form-control:focus {
        outline: 2px solid #ffffff;
        box-shadow: none;
    }
